.site-wrapper {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color);
  width: 100vw;
  height: 100vh;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  height: 15%;
}

.top-section .logo-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section .searchbar {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  gap: 1rem;
  & i {
    font-size: 18px;
    color: var(--color);
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
  }
}

.top-section .searchbar input {
  width: 100%;
  height: 50%;
  padding: 0.5rem;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.5px;
  border-radius: 50rem;
  border: none;
  outline: 1px solid var(--bg);
  box-shadow: 0 4px 8px rgba(68, 68, 68, 0.2);
  background: #f9f9f9;
  transition: all 0.3s ease-in-out;
  color: var(--color);
  &:focus {
    outline: 1px solid #444499;
    box-shadow: 0 4px 12px rgba(68, 68, 168, 0.2);
  }
}

.bottom-section {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
  height: 88%;
}

.bottom-section .sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-height: 2rem;
  max-height: 2rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  overflow: clip;
  border: 1px solid var(--color);
  border-radius: 1rem;
  background: var(--bg);
  transition: all 0.3s ease-in-out;
}

.bottom-section .sidebar.open {
  min-height: 100%;
  max-height: 100%;
}

.bottom-section .sidebar h2 {
  text-align: center;
  margin: 0;
  font-size: large;
}

.bottom-section .sidebar.open .horizontal-divider {
  margin: 0.5rem auto;
}

.bottom-section .sidebar .filters-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 2rem;
  max-height: 2rem;
}

.bottom-section .sidebar .filters-menu h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: x-large;
}

.bottom-section .sidebar .filters-menu i {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

.bottom-section .sidebar .filters-menu.open i {
  transform: rotate(180deg);
}

.sidebar .school-filters {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 200px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.sidebar .school-filters li {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--color);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.sidebar .school-filters li:hover {
  transform: scale(1.1);
  font-weight: 800;
}

.sidebar .school-filters li.active {
  transform: scale(1.1);
  font-weight: 800;
}

.sidebar .school-filters li p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.sidebar .level-filter {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.level-control {
  border: 1px solid var(--color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.level-control:hover {
  box-shadow: 0 4px 8px rgba(68, 68, 68, 0.2);
  background: white;
}

.current-level {
  justify-content: center;
  background: white;
  width: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px rgba(68, 68, 68, 0.2);
  pointer-events: none;
  color: black;
}

.sidebar .favorites-filter {
  margin: auto 0.5rem 1rem 0.5rem;
  border: 1px solid var(--color);
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.sidebar .favorites-filter:hover {
  background-color: white;
  border: 1px solid #996044;
  box-shadow: 0 4px 10px rgba(168, 100, 68, 0.2);
  cursor: pointer;
}

.sidebar .favorites-filter.active {
  background-color: white;
  border: 1px solid #996044;
  box-shadow: 0 4px 10px rgba(168, 100, 68, 0.2);
}

.bottom-section .spell-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 88%;
  padding: 1rem;
  border: 1px solid var(--color);
  border-radius: 1rem;
  background: var(--bg);
}

.spell-list .sort-wrapper {
  height: 42px;
  width: 30%;
  max-width: 100px;
  position: absolute;
  top: 1.5rem;
  right: -1rem;
  transition: all 0.3s ease-in-out;
}

.sort-wrapper .sort-tab {
  border: 1px solid var(--color);
  width: 20%;
  min-width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  box-shadow: 0 4px 8px rgba(68, 68, 68, 0.2);
  cursor: pointer;
}

.sort-wrapper .sort-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  min-width: 70px;
  background: var(--bg);
  border: 1px solid var(--color);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  box-shadow: 0 4px 8px rgba(68, 68, 68, 0.2);
}

.sort-wrapper.active .sort-panel {
  transform: scaleX(1);
}

.sort-panel .sort-buttons {
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sort-panel .sort-option {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #fff;
    box-shadow: 0 2px rgba(68, 68, 168, 0.2);
  }
}

.bottom-section .spell-list .spells {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;
  overflow-y: scroll;
}

.spells .empty-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.bottom-section .spell-list .spells .spell-block {
  display: flex;
  width: 100%;
  border: 1px solid var(--color);
  border-radius: 12px;
  align-items: center;
  padding: 0;
  box-shadow: 0 4px 8px rgba(68, 68, 68, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 16px rgba(68, 68, 68, 0.4);
  }
}

.spell-block .fav {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spell-block h3 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
  height: 2rem;
  width: 2rem;
  line-height: 1;
}

.spell-block .spell-level {
  padding-right: 0.5rem;
  font-size: 0.825rem;
}

.spell-block .spell-school {
  background: var(--color);
  color: var(--bg);
  padding: 0.5rem;
  margin: 0.5rem;
  width: 115px;
  text-align: center;
}

.bottom-section .spell-list .spell-list-controls {
  list-style: none;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem 32px;
}

.spell-list-controls li {
  font-weight: 500;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.spell-list-controls li.page {
  pointer-events: all;
}

.spell-list-controls .page:hover {
  box-shadow: 0 4px 8px rgba(68, 68, 68, 0.2);
  cursor: pointer;
  pointer-events: all;
}

.spell-list-controls:first-child {
  font-weight: 800;
  font-size: 20px;
}

.spell-list-controls:last-child {
  font-weight: 800;
  font-size: 20px;
}

.spell-list-controls .current-page {
  font-weight: 800;
  font-size: 20px;
  transform: translateY(-4px);
}

.spell-list-controls .inactive {
  font-weight: 400;
  transform: scale(0.8);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal-body {
  width: 85%;
  height: 90%;
  background: var(--bg);
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px black;
}

.modal-body .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem auto;
}

.modal-header h2 {
  letter-spacing: 2px;
  line-height: 1;
  font-size: 2.5rem;
  margin: 0;
}

.modal-header .level-and-school {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
}

.modal-body .desc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 auto;
  background: white;
  max-height: 200px;
  width: 80%;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.2);
}

.desc-wrapper .spell-description {
  line-height: 1.2;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(68, 68, 68, 0.5) rgba(0, 0, 0, 0);
  color: #444444;
}

.spell-description p {
  padding: 0.5rem;
}

.modal-body .spell-stats {
  width: 80%;
}

.spell-stats tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--color);
}

.spell-stats tr td {
  display: flex;
  align-items: center;
}

.spell-stats .damage {
  width: 100%;
  display: flex;
  justify-content: end;
}

.spell-stats .slot-controls {
  display: flex;
  gap: 1rem;
  margin: 4px auto;
}
