data/acid-arrow.json
data/acid-splash.json
data/aid.json
data/alarm.json
data/alter-self.json
data/animal-friendship.json
data/animal-messenger.json
data/animal-shapes.json
data/animate-dead.json
data/animate-objects.json
data/antilife-shell.json
data/antimagic-field.json
data/antipathy-sympathy.json
data/arcane-eye.json
data/arcane-hand.json
data/arcane-lock.json
data/arcane-sword.json
data/arcanists-magic-aura.json
data/astral-projection.json
data/bane.json
data/banishment.json
data/barkskin.json
data/beacon-of-hope.json
data/bestow-curse.json
data/black-tentacles.json
data/blade-barrier.json
data/bless.json
data/blight.json
data/blindness-deafness.json
data/detect-thoughts.json
data/dimension-door.json
data/disguise-self.json
data/disintegrate.json
data/dispel-evil-and-good.json
data/dispel-magic.json
data/divination.json
data/divine-favor.json
data/divine-word.json
data/dream.json
data/expeditious-retreat.json
data/eyebite.json
data/fabricate.json
data/faerie-fire.json
data/faithful-hound.json
data/false-life.json
data/fear.json
data/feather-fall.json
data/feeblemind.json
data/find-familiar.json
data/goodberry.json
data/grease.json
data/greater-invisibility.json
data/greater-restoration.json
data/guardian-of-faith.json
data/guards-and-wards.json
data/guidance.json
data/guiding-bolt.json
data/gust-of-wind.json
data/hallow.json
data/hallucinatory-terrain.json
data/harm.json
data/haste.json
data/mind-blank.json
data/minor-illusion.json
data/mirage-arcane.json
data/mirror-image.json
data/mislead.json
data/misty-step.json
data/modify-memory.json
data/moonbeam.json
data/move-earth.json
data/nondetection.json
data/raise-dead.json
data/ray-of-enfeeblement.json
data/ray-of-frost.json
data/regenerate.json
data/reincarnate.json
data/remove-curse.json
data/resilient-sphere.json
data/resistance.json
data/resurrection.json
data/reverse-gravity.json
data/spells.json
data/wall-of-fire.json
data/wall-of-thorns.json
data/warding-bond.json
data/water-breathing.json
data/water-walk.json
data/web.json
data/weird.json
data/wind-walk.json
data/wind-wall.json
data/wish.json
